<!DOCTYPE html>
<html lang="zh_TW">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="健康管理">
    <meta name="keywords" content="健康管理">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>健康管理系統</title>

    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <style>
        .setmeal-tabs {
            margin: 0 auto;
            width: 90%;
        }
    </style>
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1 class="order_manage">預約管理<small class="check_manage">檢查專案管理</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }"><span class="top_pages">首頁</span></el-breadcrumb-item>
            <el-breadcrumb-item><span class="order_title">預約管理</span></el-breadcrumb-item>
            <el-breadcrumb-item><span class="order_setting">預約項目管理</span></el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-input placeholder="會員ID" v-model="pagination.memberId" style="width: 200px;" class="filter-item"></el-input>
                <el-date-picker placeholder="預約日期" v-model="pagination.orderDate" type="date" value-format="yyyy-MM-dd" style="width: 200px;" class="filter-item"></el-date-picker>
                <el-select v-model="pagination.orderType" placeholder="預約類型" style="width: 200px;">
                    <el-option label="線上預約" value="線上預約"></el-option>
                    <el-option label="到診預約" value="到診預約"></el-option>
                </el-select>
                <el-select v-model="pagination.orderStatus" placeholder="預約狀態" style="width: 200px;">
                    <el-option label="已到診" value="已到診"></el-option>
                    <el-option label="未到診" value="未到診"></el-option>
                </el-select>
                <el-button @click="findPage()" class="dalfBut">查詢</el-button>
                <el-button type="primary" @click="handleCreate()">新增預約</el-button>
            </div>
            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column type="index" align="center" label="序號"></el-table-column>
                <el-table-column prop="memberId" label="會員ID" align="center"></el-table-column>
                <el-table-column prop="orderDate" label="預約日期" align="center"></el-table-column>
                <el-table-column prop="orderType" label="預約類型" align="center"></el-table-column>
                <el-table-column prop="orderStatus" label="預約狀態" align="center"></el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="handleSearch(scope.row)">查看</el-button>
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">編輯</el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.row)">刪除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>

            <div class="add-form">
                <el-dialog title="新增預約" :visible.sync="dialogFormVisible">
                    <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="會員ID" prop="memberId">
                                    <el-input v-model="formData.memberId" type="number"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="預約日期" prop="orderDate">
                                    <el-date-picker v-model="formData.orderDate" type="date" placeholder="選擇日期"></el-date-picker>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="預約類型" prop="orderType">
                                    <el-select v-model="formData.orderType" placeholder="選擇預約類型">
                                        <el-option label="電話預約" value="電話預約"></el-option>
                                        <el-option label="手機預約" value="手機預約"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="選擇套餐" prop="setmealId">
                                    <el-select v-model="setmealIds" placeholder="選擇套餐">
                                        <el-option v-for="setmeal in setmeals" :key="setmeal.id" :label="setmeal.name" :value="setmeal.id"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                    <el-tabs v-model="activeTab" class="setmeal-tabs">
                        <el-tab-pane label="套餐詳情" name="setmeal">
                            <p>套餐名稱: {{ setmeal.name }}</p>
                            <p>套餐代碼: {{ setmeal.code }}</p>
                            <p>幫助代碼: {{ setmeal.helpCode }}</p>
                            <p>套餐備註: {{ setmeal.remark }}</p>
                            <p>套餐價格: {{ setmeal.price }}</p>
                            <p>適用年齡: {{ setmeal.age }}</p>
                        </el-tab-pane>
                    </el-tabs>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd()">確定</el-button>
                    </div>
                </el-dialog>
            </div>

            <!-- 編輯標籤彈層 -->
            <div class="edit-form">
                <el-dialog title="編輯預約" :visible.sync="dialogFormVisible4Edit">
                    <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="top" label-width="100px">
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="會員ID" prop="memberId">
                                    <el-input v-model="formData.memberId" type="number"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="預約日期" prop="orderDate">
                                    <el-date-picker v-model="formData.orderDate" type="date" placeholder="選擇日期"></el-date-picker>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="預約類型" prop="orderType">
                                    <el-select v-model="formData.orderType" placeholder="選擇預約類型">
                                        <el-option label="電話預約" value="電話預約"></el-option>
                                        <el-option label="手機預約" value="手機預約"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="選擇套餐" prop="setmealId">
                                    <el-select v-model="setmealIds" placeholder="選擇套餐">
                                        <el-option v-for="setmeal in setmeals" :key="setmeal.id" :label="setmeal.name" :value="setmeal.id"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                    <el-tabs v-model="activeTab" class="setmeal-tabs">
                        <el-tab-pane label="套餐详情" name="setmeal">
                            <p>套餐名稱: {{ setmeal.name }}</p>
                            <p>套餐代碼: {{ setmeal.code }}</p>
                            <p>幫助代碼: {{ setmeal.helpCode }}</p>
                            <p>套餐備註: {{ setmeal.remark }}</p>
                            <p>套餐價格: {{ setmeal.price }}</p>
                            <p>適用年齡: {{ setmeal.age }}</p>
                        </el-tab-pane>
                    </el-tabs>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                        <el-button type="primary" @click="handleEdit()">確定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 引入組件庫 -->
<script src="../js/vue.js"></script>
<script src="../plugins/elementui/index.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script>
    let vue = new Vue({
        el: '#app',
        data: {
            pagination: {
                currentPage: 1,
                pageSize: 10,
                total: 0,
                name: "",
                orderDate: "",
                orderStatus: "",
                orderType: "",
            },
            activeTab: "0",
            setmealIds: null,
            setmealDetail: {},
            setmeals: [],
            setmeal: {},
            dataList: [],
            formData: {},
            dialogFormVisible: false,
            dialogFormVisible4Edit: false,
            rules: {
                orderDate: [{ required: true, message: '預約日期為必填項', trigger: 'blur' }],
                orderType: [{ required: true, message: '預約類型為必填項', trigger: 'blur' }],
            },
        },

        watch: {
           setmealIds(newValue) {
               if (newValue) {
                   this.fetchSetmealsDetail(newValue);
               }
           }
        },

        created() {
            this.findPage();
        },
        methods: {
            handleEdit() {
                this.$refs['dataEditForm'].validate((valid) => {
                    if (valid) {
                        this.formData.setmealId = this.setmealIds;
                        axios.put("/orders", this.formData).then((resp) => {
                            if (resp.data.flag) {
                                this.$message({ type: "success", message: resp.data.message });
                                this.dialogFormVisible4Edit = false;
                                this.findPage();
                            } else {
                                this.$message.error(resp.data.message);
                            }
                        });
                    } else {
                        this.$message.error("資料填寫不正確，請確認必要欄位都已填寫");
                        return false;
                    }
                })
            },
            handleAdd() {
                this.$refs['dataAddForm'].validate((valid) => {
                    if (valid) {
                        this.formData.setmealId = this.setmealIds;
                        axios.post("/orders", this.formData).then((resp) => {
                            if (resp.data.flag) {
                                this.$message({ type: "success", message: resp.data.message });
                                this.dialogFormVisible = false;
                                this.findPage();
                            } else {
                                this.$message.error(resp.data.message);
                            }
                        });
                    } else {
                        this.$message.error("資料填寫不正確，請確認必要欄位都已填寫");
                        return false;
                    }
                });
            },
            findPage() {
                let param = "?query";
                if (this.pagination.orderDate) {
                    param += "&orderDate=" + this.pagination.orderDate;
                }
                if (this.pagination.orderStatus) {
                    param += "&orderStatus=" + this.pagination.orderStatus;
                }
                if (this.pagination.orderType) {
                    param += "&orderType=" + this.pagination.orderType;
                }
                axios.get("/orders" + `/${this.pagination.currentPage}`+ `/${this.pagination.pageSize}` + param).then((resp) => {
                    this.dataList = resp.data.data.records;
                    this.pagination.total = resp.data.data.total;
                });
            },
            handleCurrentChange(currentPage) {
                this.pagination.currentPage = currentPage;
                this.findPage();
            },
            resetForm() {
                this.formData = {};
            },
            handleCreate() {
                this.resetForm();
                this.fetchSetmeals();
                this.dialogFormVisible = true;
            },
            handleUpdate(row) {
                this.resetForm();
                this.formData = Object.assign({}, row);
                this.dialogFormVisible4Edit = true;
            },
            fetchSetmeals() {
                axios.get("/setMeals/findAll").then((resp) => {
                if (resp.data.flag) {
                    this.setmeals = resp.data.data;
                } else {
                    this.$message.error("獲取套餐選項失敗");
                }
                });
            },
            fetchSetmealsDetail(id) {
                axios.get(`/setMeals/getSetMealByOrderId/${id}`).then(resp => {
                    if(resp.data.flag) {
                        this.setmealDetail = resp.data.data;
                    }
                }).catch(error => {
                    console.error('獲取套餐詳細訊息失敗:', error);
                    this.setmealDetail = {};
                });
            },
            handleDelete(row) {
                this.$confirm("確認刪除該筆資料嗎? 刪除後無法復原", "提示", { type: "warning" }).then(() => {
                    axios.delete("/orders/" + row.id).then((resp) => {
                        if (resp.data.flag) {
                            this.$message({ type: "success", message: resp.data.message });
                            this.findPage();
                        } else {
                            this.$message.error(resp.data.message);
                        }
                    });
                }).catch(() => {
                    this.$message.info("取消操作");
                });
            },
        }
    });
</script>

</html>