<!DOCTYPE html>
<html lang="zh-TW">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>醫起來</title>

    <meta name="description" content="醫療管理系統">
    <meta name="keywords" content="醫療管理系統">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <style>
        .el-main{
            position: absolute;
            top: 70px;
            left: 200px;
            right: 10px;
            bottom: 0;
            padding: 0;
        }
        .user-form, mail-form, userInfo-form{
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            margin: 0 auto;
        }
        .title {
            font-size: 24px;
            color: #333333; /* 深灰色 */
            font-weight: bold;
            margin-bottom: 20px;
        }
    </style>
</head>
<body class="hold-transition skin-purple sidebar-mini">
<div id="app">
    <el-container>
        <el-header  class="main-header" style="height:70px;">
            <nav class="navbar navbar-static-top" :class=''>
                <a href="#" class="logo" style="text-align:center">
                    <span class="logo-lg"><img src="../img/logo.png" class="img" alt="NotfoundAnyPng"></span>
                </a>
                <div class="right-menu">
                    <span class="help" @click="openMailBox()"><i class="fa fa-mail-forward" aria-hidden="true"></i>聯繫我們</span>
                    <el-dropdown class="avatar-container right-menu-item" trigger="click">
                        <div class="avatar-wrapper">
                            <i class="fa fa-user-circle-o"></i>
                            <font style="font-size: 16px ;"> 歡迎 {{ user.name }}</font>
                        </div>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item>
                                <span class="user" @click="openUserInfo()">用戶資料</span>
                            </el-dropdown-item>
                            <el-dropdown-item>
                                <span class="change_pwd" @click="changePassword()">修改密碼</span>
                            </el-dropdown-item>
                            <el-dropdown-item>
                                <span class="pass" @click="logout()">退出</span>
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </div>
            </nav>
        </el-header>

        <el-container>
            <el-aside width="200px">
                <el-menu>
                    <el-submenu v-for="menu in menuList" :index="menu.path">
                        <template slot="title">
                            <i class="fa" :class="menu.icon"></i>
                            {{menu.title}}
                        </template>
                        <template v-for="child in menu.children">
                            <el-menu-item :index="child.path">
                                <a :href="child.linkUrl" target="right">{{child.title}}</a>
                            </el-menu-item>
                        </template>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <el-container>
                <iframe name="right" class="el-main" src="ordersetting.html" width="100%" height="580px" frameborder="0" @load="checkPageIsLoading"></iframe>
            </el-container>
        </el-container>
    </el-container>
    <div class="mail-form">
        <el-dialog class="mail_title" title="聯繫我們" :visible.sync="dialogMailFormVisible" >
            <el-form ref="dataAddForm" :model="mail" label-position="right"
                     label-width="100px">
                <el-row>
                    <el-col :span="12" >
                        <el-form-item label="姓名:" prop="name">
                            <el-input v-model="mail.name" style="width: 100%"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="郵件信箱:" prop="address">
                            <el-input v-model="mail.address" style="width: 100%"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="郵件標題:" prop="message">
                            <el-input v-model="mail.message"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="24">
                        <el-form-item label="郵件內容:" prop="title">
                            <el-input v-model="mail.title"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogMailFormVisible = false">取消</el-button>
                <el-button type="button" @click="sendMailCheck()">確定</el-button>
            </div>
        </el-dialog>
    </div>
    <div class="user-form">
        <el-dialog class="mail_title" title="帳戶修改" :visible.sync="dialogFormVisible4Edit" >
            <el-form ref="dataAddForm" :model="user" label-position="right"
                     label-width="100px">
                <el-row>
                    <el-col :span="12" >
                        <el-form-item label="姓名:" prop="username">
                            <el-input v-model="user.username" style="width: 100%"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="使用者密碼:" prop="password">
                            <el-input v-model="user.password" style="width: 100%"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                <el-button type="button" @click="sendCheckForLogin()">確定</el-button>
            </div>
        </el-dialog>
    </div>

    <div class="userInfo-form">
        <el-dialog class="mail_title" title="帳戶修改" :visible.sync="dialogUserInfoFormVisible" >
            <el-form ref="dataUserInfoForm" :model="user" label-position="right"
                     label-width="100px">
                <el-row>
                    <el-col :span="12" >
                        <el-form-item label="姓名:" prop="name">
                            <el-input v-model="userInfo.username" style="width: 100%"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="使用者密碼:" prop="password">
                            <el-input v-model="userInfo.password" style="width: 100%" type="password"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="生日:" prop="birthday">
                            <el-date-picker v-model="userInfo.birthday" type="date" value-format="yyyy-MM-dd" placeholder="選擇日期"></el-date-picker>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="性別:" prop="gender">
                            <el-radio-group v-model="userInfo.gender">
                                <el-radio label="男" value="1"></el-radio>
                                <el-radio label="女" value="0"></el-radio>
                            </el-radio-group>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogUserInfoFormVisible = false">取消</el-button>
                <el-button type="button" @click="editUserInfo()">確定</el-button>
            </div>
        </el-dialog>
    </div>
</div>



</body>

<script src="../js/vue.js"></script>
<script src="../plugins/elementui/index.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script>
   let vue = new Vue({
        el: '#app',
        data:{
            menuList:[
                {
                    "path": "2",
                    "title": "會員管理",
                    "icon":"fa-user-md",
                    "children": [
                        {
                            "path": "/2-1",
                            "title": "會員統計",
                            "linkUrl":"member_sum.html",
                            "children":[]
                        },
                        {
                            "path": "/2-2",
                            "title": "會員管理",
                            "linkUrl":"member.html",
                            "children":[]
                        }
                    ]
                },
                {
                    "path": "3",
                    "title": "預約管理",
                    "icon":"fa-tty",
                    "children": [
                        {
                            "path": "/3-1",
                            "title": "預約列表",
                            "linkUrl":"appointment.html",
                            "children":[]
                        },
                        {
                            "path": "/3-2",
                            "title": "預約設定",
                            "linkUrl":"ordersetting.html",
                            "children":[]
                        },
                        {
                            "path": "/3-3",
                            "title": "健檢套餐管理",
                            "linkUrl":"setmeal.html",
                            "children":[]
                        },
                        {
                            "path": "/3-4",
                            "title": "健檢組合管理",
                            "linkUrl":"checkgroup.html",
                            "children":[]
                        },
                        {
                            "path": "/3-5",
                            "title": "健檢項目管理",
                            "linkUrl":"checkitem.html",
                            "children":[]
                        },
                    ]
                },
                {
                    "path": "4",
                    "title": "健康報告",
                    "icon":"fa-stethoscope",
                    "children":[
                        {
                            "path": "/4-1",
                            "title": "個人健檢數據",
                            "linkUrl":"member_health_status.html",
                            "children":[]
                        },
                    ]
                },
                {
                    "path": "5",
                    "title": "統計分析",
                    "icon":"fa-heartbeat",
                    "children":[
                        {
                            "path": "/5-1",
                            "title": "會員數統計",
                            "linkUrl":"report_member.html",
                            "children":[]
                        },
                        {
                            "path": "/5-2",
                            "title": "套餐占比",
                            "linkUrl":"report_setmeal.html",
                            "children":[]
                        },
                        {
                            "path": "/5-3",
                            "title": "運營數據",
                            "linkUrl":"report_business.html",
                            "children":[]
                        }
                    ]
                },
                {
                    "path": "6",
                    "title": "系統設置",
                    "icon":"fa-cog",
                    "children":[
                        {
                            "path": "/6-1",
                            "title": "菜单管理",
                            "linkUrl":"menu.html",
                            "children":[]
                        },
                        {
                            "path": "/6-2",
                            "title": "權限管理",
                            "linkUrl":"permission.html",
                            "children":[]
                        },
                        {
                            "path": "/6-3",
                            "title": "角色管理",
                            "linkUrl":"role.html",
                            "children":[]
                        },
                        {
                            "path": "/6-4",
                            "title": "用戶管理",
                            "linkUrl":"user.html",
                            "children":[]
                        },
                    ]
                }
            ],
            dialogFormVisible:false,
            dialogFormVisible4Edit:false,
            dialogMailFormVisible:false,
            dialogUserInfoFormVisible:false,
            mail:{
                name: "",
                message: "",
                address: "",
                title: ""
            },
            user:{},
            userInfo:{},

            resetMailList(){
                this.mail = {};
            },
            resetUserList(){
                this.user = {};
            },
            resetUserInfoList(){
                this.userInfo = {};
            }
        },

       created() {
            this.getMenuList();
            this.getCurrentUser();
       },

        methods: {
            getMenuList() {
                axios.get("/menus/getMenuList").then((resp) => {
                    if (resp.data.flag) {
                        this.menus = resp.data.data;
                    } else {
                        this.$message().error(resp.data.message);
                    }
                });
            },
            getCurrentUser(){
                axios.get("/users/getUserInfo").then((resp)=>{
                    if(resp.data.flag){
                        this.user.name = resp.data.data.username;
                        this.user.password = resp.data.data.password;
                        this.userInfo = resp.data.data;
                    } else {
                        this.$message().error(resp.data.message);
                    }
                });
            },
            checkPageIsLoading(event){
                const iframe = event.target;
                try {
                    const doc = iframe.contentDocument || iframe.contentWindow.document;
                    if(doc && doc.body && doc.body.innerHTML === '') {
                        window.location.href = './404.html';
                    }
                } catch (e){
                    window.location.href = './404.html';
                }
            },
            openMailBox(){
                this.dialogMailFormVisible = true;
                this.resetMailList();
            },
            sendMailCheck(){
                axios.post("/mails/sendMail/",this.mail).then((resp)=>{
                    if (resp.data.flag) {
                        this.$message({
                            type: "success",
                            message: resp.data.message
                        });
                        this.dialogMailFormVisible = false;
                    } else {
                        this.$message().error(resp.data.message);
                    }
                });
            },
            changePassword(){
                this.dialogFormVisible4Edit = true;
                this.resetUserList();
            },
            sendCheckForLogin(){
                axios.put("/users/changePassword",{
                    username: this.user.username,
                    password: this.user.password
                }).then((resp)=>{
                    if(resp.data.flag){
                        this.$message({
                           type: "success",
                           message: resp.data.message
                        });
                    } else {
                        this.$message().error(resp.data.message);
                    }
                });
            },
            openUserInfo(){
                this.dialogUserInfoFormVisible = true;
                this.resetUserInfoList();
                axios.get("/users/getUserInfo/").then((resp)=>{
                    if(resp.data.flag){
                        this.userInfo = resp.data.data;
                    } else {
                        this.$message().error(resp.data.message);
                    }
                })
            },
            editUserInfo(){
                axios.put("/users/userProfileEdit",this.userInfo).then((resp)=>{
                    if(resp.data.flag){
                        this.$message({
                            type: "success",
                            message: resp.data.message
                        });
                    } else {
                        this.$message().error(resp.data.message);
                    }
                });
            },
            logout(){
                axios.get("/security/logout",{
                }).then((resp)=>{
                    window.location.href = './login.html';
                })
            }

        }
    });
    $(function() {
        let wd = 200;
        $(".el-main").css('width', $('body').width() - wd + 'px');
    });

</script>
</html>
