<!DOCTYPE html>
<html lang="zh_Tw">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>醫療管理系統</title>
    <meta name="description" content="醫療管理系統">
    <meta name="keywords" content="醫療管理系統">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/orderset.css">

    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1 class="order_manage">預約管理
            <small class="check_manage">預約設置</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/main.html' }"><span class="top_pages">首頁</span>
            </el-breadcrumb-item>
            <el-breadcrumb-item><span class="order_title">預約管理</span></el-breadcrumb-item>
            <el-breadcrumb-item><span class="order_setting">預約設置</span></el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="box ordersetting">
                <el-card class="box-card">
                    <div class="boxMain">
                        <el-button style="margin-bottom: 20px;margin-right: 20px" type="success"
                                   @click="downloadTemplate()"><span style="font-weight: bold">模板下載</span>
                        </el-button>
                        <el-upload action="/orderSettings/upload/"
                                   name="excelFile"
                                   :show-file-list="false"
                                   :on-success="handleSuccess"
                                   :before-upload="beforeUpload">
                            <el-button type="primary"><span style="font-weight: bold">上傳文件</span></el-button>
                        </el-upload>
                    </div>
                    <div class="operations_tall">
                        操作說明：點擊"下載預約表格"按鈕獲取預約文件，在預約文件中寫上預約設置資料後點"上傳文件"按鈕上傳預約文件
                    </div>
                </el-card>
                <div class="calendar">
                    <div class="month">
                        <div class="currentdate">
                            <span class="choose-year">{{ currentYear }}年</span>
                            <span class="choose-month">{{ currentMonth }}月</span>
                        </div>
                        <div class="choose">
                            <span class="front-month" @click="pickPre(currentYear,currentMonth)">前個月</span>
                            <span @click="goCurrentMonth(currentYear,currentMonth)" class="gotoday">現在</span>
                            <span class="next-month" @click="pickNext(currentYear,currentMonth)">下個月</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>        <!-- 星期 -->
                    <div class="caldate">
                        <ul class="weekdays">
                            <li>週一</li>
                            <li>週二</li>
                            <li>週三</li>
                            <li>週四</li>
                            <li>週五</li>
                            <li>週六</li>
                            <li>週日</li>
                        </ul>
                        <!-- day -->
                        <ul class="days">
                            <li v-for="dayobject in days">
                                <template>
                                    <div class="other-month" v-if="dayobject.day.getMonth()+1 !== currentMonth">
                                        {{ dayobject.day.getDate() }}
                                    </div>
                                    <div class="everyday" v-if="dayobject.day.getMonth()+1 === currentMonth">
                                        <span class="datenumber">{{ dayobject.day.getDate()}}</span>
                                        <template>
                                            <template v-for="obj in leftobj">
                                                <template v-if="obj.date === dayobject.day.getDate()">
                                                    <template v-if="obj.number > obj.reservations">
                                                        <div class="usual">
                                                            <p>可预约{{ obj.number ? obj.number : 0 }}人</p>
                                                            <p>已預約{{obj.reservations}}人</p>
                                                        </div>
                                                    </template>
                                                    <template v-else>
                                                        <div class="fulled">
                                                            <p>可预约{{ obj.number ? obj.number : 0 }}人</p>
                                                            <p>已預約{{obj.reservations}}人</p>
                                                            <p>已滿</p>
                                                        </div>
                                                    </template>
                                                </template>
                                            </template>
                                            <button v-if="dayobject.day > today" @click="handleOrderSet(dayobject.day)"
                                                    class="orderbtn">設置
                                            </button>
                                        </template>

                                    </div>
                                </template>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 引入組件庫 -->
<script src="../js/vue.js"></script>
<script src="../plugins/elementui/index.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            today: new Date(),//當前日期
            currentDay: 1,
            currentMonth: 1,
            LocalMonth: 1,
            currentYear: 1970,
            currentWeek: 1,
            days: [],
            leftobj: []
        },
        created: function () {
            this.initData(null);
        },
        methods: {
            handleOrderSet(day) {
                let vm = this
                this.$prompt('請輸入可預約人數', '預約設置', {
                    confirmButtonText: '確定',
                    cancelButtonText: '取消',
                    inputPattern: /^[0-9}*[1-9][0-9]*$/,
                    inputErrorMessage: "只能輸入正整數"
                }).then(({value}) => {
                    console.log(this.formatDate(day.getFullYear(), day.getMonth() + 1, day.getDate()))
                    axios.post("/orderSettings/editNumberByDate/", {
                        number:value,
                        orderdate:this.formatDate(day.getFullYear(), day.getMonth() + 1, day.getDate())
                    }).then((resp) => {
                        if (resp.data.flag) {
                            this.initData(this.formatDate(day.getFullYear(), day.getMonth() + 1, 1))
                            vm.$message({
                                type: 'success',
                                message: resp.data.message
                            });
                        } else {
                            vm.$message().error(resp.data.message);
                        }
                    });
                }).catch(() => {
                    vm.$message({
                        type: 'info',
                        message: '取消輸入預約'
                    });
                });
            },
            //上傳之前進行文件格式校驗
            beforeUpload(file) {
                const isXLS = file.type === 'application/vnd.ms-excel';
                if (isXLS) {
                    return true;
                }
                const isXLSX = file.type === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet';
                if (isXLSX) {
                    return true;
                }
                this.$message.error('上傳文件只能是xls或者xlsx格式!');
                return false;
            },
            downloadTemplate() {
                location.href = "../template/ordersetting_template.xlsx";
            },
            handleSuccess(response, file) {
                let vm = this
                if (response.flag) {
                    vm.$message({
                        message: response.message,
                        type: 'success'
                    });
                } else {
                    vm.$message.error(response.message);
                }
                console.log(response, file, fileList);
            },
            //init the day
            initData: function (current) {
                let d;
                let now;
                let dayobject;
                let date;
                let index = 0;
                if (current) {
                    date = new Date(current);
                } else {
                    now = new Date();
                    d = new Date(this.formatDate(now.getFullYear(), now.getMonth(), 1));
                    d.setDate(35); //set the 35 to max the table
                    date = new Date(this.formatDate(d.getFullYear(), d.getMonth() + 1, 1));
                }
                this.currentDay = date.getDate();
                this.currentYear = date.getFullYear();
                this.currentMonth = date.getMonth() + 1;
                this.currentWeek = date.getDay();
                let today = new Date();
                this.LocalMonth = today.getMonth() + 1;
                if (this.currentWeek === 0) {
                    this.currentWeek = 7;
                }
                let str = this.formatDate(this.currentYear, this.currentMonth, this.currentDay);
                this.days.length = 0;
                for (let i = this.currentWeek - 1; i >= 0; i--) {
                    let d = new Date(str);
                    d.setDate(d.getDate() - i);
                    dayobject = {};
                    dayobject.day = d;
                    now = new Date();
                    if (d.getDate() === (now.getDate()) && d.getMonth() === now.getMonth() && d.getFullYear() === now.getFullYear()) {
                        dayobject.index = index++;
                    } else if (index !== 0 && index < 3)
                        dayobject.index = index++;
                    this.days.push(dayobject);
                }
                for (let i = 1; i <= 35 - this.currentWeek; i++) {
                    d = new Date(str);
                    d.setDate(d.getDate() + i);
                    dayobject = {};
                    dayobject.day = d;
                    now = new Date();
                    if (d.getDate() === (now.getDate()) && d.getMonth() === now.getMonth() && d.getFullYear() === now.getFullYear()) {
                        dayobject.index = index++;
                    } else if (index !== 0 && index < 3)
                        dayobject.index = index++;
                    this.days.push(dayobject);
                }
                this.leftobj = [];
                this.getOrderDateByMonth(this.currentYear, this.currentMonth);
            },

            getOrderDateByMonth: function (year, month) {
                let vm = this
                axios.get("/orderSettings/getOrderDateByMonth/" + year + "-" + month).then((resp) => {
                    if (resp.data.flag) {
                        this.leftobj = resp.data.data;
                    } else {
                        vm.$message().error(resp.data.message);
                    }
                });
            },
            //check to current month
            goCurrentMonth: function (year, month) {
                let d = new Date();
                this.initData(this.formatDate(d.getFullYear(), d.getMonth() + 1, 1));
            },
            // back to front day
            pickPre: function (year, month) {
                let d = new Date(this.formatDate(year, month, 1));
                d.setDate(0);
                this.initData(this.formatDate(d.getFullYear(), d.getMonth() + 1, 1));
            },
            //next day
            pickNext: function (year, month) {
                let d = new Date(this.formatDate(year, month, 1));
                d.setDate(35);////獲取指定天之后的日期
                this.initData(this.formatDate(d.getFullYear(), d.getMonth() + 1, 1));
            },
            // format the date to year-month-days
            formatDate: function (year, month, day) {
                let y = year;
                let m = month;
                if (m < 10) m = "0" + m;
                let d = day;
                if (d < 10) d = "0" + d;
                return y + "-" + m + "-" + d
            }
        }
    })
</script>
</html>