<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <!-- 頁面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>醫療管理系統</title>
    <meta name="description" content="醫療管理系統">
    <meta name="keywords" content="醫療管理系統">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }

        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }

        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }

        .datatable {
            position: relative;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            width: 100%;
            max-width: 100%;
            font-size: 14px;
            color: rgb(96, 98, 102);
            overflow: hidden;
            flex: 1 1 0;
        }

        .datatable td, .datatable th {
            padding: 12px 0;
            min-width: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-overflow: ellipsis;
            vertical-align: middle;
            position: relative;
            text-align: left;
        }
    </style>
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1 class="order_manage">預約管理<small class="check_manage">高級組合管理</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/main.html' }"><span class="top_pages">首頁</span></el-breadcrumb-item>
            <el-breadcrumb-item><span class="order_title">預約管理</span></el-breadcrumb-item>
            <el-breadcrumb-item><span class="order_setting">高級組合管理</span></el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-input placeholder="編號" v-model="pagination.code" style="width: 150px;"
                          class="filter-item"></el-input>
                <el-input placeholder="名稱" v-model="pagination.name" style="width: 150px;"
                          class="filter-item"></el-input>
                <el-input placeholder="記憶代碼" v-model="pagination.helpCode" style="width: 150px;"
                          class="filter-item"></el-input>
                <el-button @click="findPage()" class="dalfBut">查詢</el-button>
                <el-button type="primary" class="butT" @click="handleCreate()">新增</el-button>
            </div>
            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column type="index" align="center" label="序號"></el-table-column>
                <el-table-column prop="code" label="高級組合編碼" align="center"></el-table-column>
                <el-table-column prop="name" label="高級組合名稱" align="center"></el-table-column>
                <el-table-column label="適用性別" align="center">
                    <template slot-scope="scope">
                        <span>{{ scope.row.sex === '0' ? '不限' : scope.row.sex === '1' ? '男' : '女'}}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="age" label="適用年齡" align="center"></el-table-column>
                <el-table-column prop="helpCode" label="記憶碼" align="center"></el-table-column>
                <el-table-column prop="remark" label="說明" align="center"></el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">編輯</el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.row)">刪除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>
            <!-- 新增標簽彈層 -->
            <div class="add-form">
                <el-dialog title="新增高級組合" :visible.sync="dialogFormVisible">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form label-position="right" label-width="100px">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="編碼">
                                                <el-input v-model="formData.code"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="名稱">
                                                <el-input v-model="formData.name"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="適用性別">
                                                <el-select v-model="formData.sex">
                                                    <el-option label="不限" value="0"></el-option>
                                                    <el-option label="男" value="1"></el-option>
                                                    <el-option label="女" value="2"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="記憶碼">
                                                <el-input v-model="formData.helpCode"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="高級組合價格">
                                                <el-input v-model="formData.price"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="適用年齡">
                                                <el-input v-model="formData.age"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="上傳圖片">
                                                <el-upload
                                                        class="avatar-uploader"
                                                        action="/setMeals/upload"
                                                        :auto-upload="autoUpload"
                                                        name="imgFile"
                                                        :show-file-list="false"
                                                        :on-success="handleAvatarSuccess"
                                                        :before-upload="beforeAvatarUpload">
                                                    <img v-if="imageUrl" :src="imageUrl" class="avatar"
                                                         alt="noShowAnyImage">
                                                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                                </el-upload>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="說明">
                                                <el-input v-model="formData.remark" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="注意事項">
                                                <el-input v-model="formData.attention" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="檢查組合信息" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>選擇</th>
                                            <th>項目編碼</th>
                                            <th>項目名稱</th>
                                            <th>項目說明</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in tableData">
                                            <td>
                                                <label>
                                                    <input :id="c.id" v-model="checkgroupIds" type="checkbox" :value="c.id">
                                                </label>
                                            </td>
                                            <td><label :for="c.id">{{c.code}}</label></td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.remark}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd()">確定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    let vue = new Vue({
        el: '#app',
        data: {
            autoUpload: true,
            imageUrl: null,
            activeName: 'first',
            pagination: {
                currentPage: 1,
                pageSize: 10,
                total: 100,
                code: "",
                name: "",
                helpCode: ""
            },
            dataList: [],
            formData: {},
            tableData: [],
            checkgroupIds: [],
            dialogFormVisible: false,
            dialogFormVisible4Edit: false
        },
        created() {
            this.findPage();
        },
        methods: {
            handleAvatarSuccess(response, file) {
                this.imageUrl = "https://storage.googleapis.com/health_pictures/" + response.data;
                this.$message({type: response.flag ? 'success' : 'error', message: response.data});
                this.formData.img = response.data;
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;
                if (!isJPG) {
                    this.$message.error('上傳高級組合圖片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上傳高級組合圖片大小不能超過 2MB!');
                }
                return isJPG && isLt2M;
            },
            //添加
            handleAdd() {
                axios.post("/setMeals/" + this.checkgroupIds, this.formData).then((resp) => {
                    this.dialogFormVisible = false;
                    if (resp.data.flag) {
                        this.$message({type: "success", message: resp.data.message})

                    } else {
                        this.$message().error(resp.data.message);
                    }
                }).finally(() => {
                    this.findPage();
                });
            },
            //分頁查詢
            findPage() {
                let param = "?query";
                param += "&name=" + this.pagination.name;
                param += "&code=" + this.pagination.code;
                param += "&helpCode=" + this.pagination.helpCode;
                axios.get("/setMeals/" + this.pagination.currentPage + "/" + this.pagination.pageSize + param).then((resp) => {
                    if (resp.data.flag) {
                        this.pagination.currentPage = resp.data.data.current;
                        this.pagination.pageSize = resp.data.data.size;
                        this.dataList = resp.data.data.records;
                        this.pagination.total = resp.data.data.total;
                        if (resp.data.message != null) {
                            this.$message({type: "success", message: resp.data.message});
                        }
                    } else {
                        this.$message().error(resp.data.message);
                    }
                });
            },
            // 重置表單
            resetForm() {
                this.formData = {};
                this.activeName = 'first';
                this.imageUrl = null;
                this.checkgroupIds = [];
            },
            // 彈出添加窗口
            handleCreate() {
                this.dialogFormVisible = true;
                this.resetForm();
                axios.get("/setMeals/").then((resp) => {
                    if (resp.data.flag) {
                        this.tableData = resp.data.data;
                    } else {
                        this.$message().error(resp.data.message);
                    }
                });
            },
            //切換頁碼
            handleCurrentChange(currentPage) {
                this.pagination.currentPage = currentPage;
                this.findPage();
            },
            handleDelete(row) {
                this.$confirm("確認刪除該筆資料嗎? 刪除後無法復原", "提示", {type: "warning"}).then(() => {
                    axios.delete("/setMeals/" + row.id).then((resp) => {
                        if (resp.data.flag) {
                            this.$message({
                                type: "success",
                                message: resp.data.message
                            });
                            axios.delete("/setMeals/deleteCheckGroupByMealId/" + row.id).then(() => {
                                if (resp.data.flag) {
                                    this.$message().success(resp.data.message)
                                } else {
                                    this.$message().error(resp.data.message)
                                }
                            });
                        } else {
                            this.$message.error(resp.data.message);
                        }
                    }).finally(() => {
                        this.findPage();
                    });
                }).catch(() => {
                    this.$message.info("取消操作");
                });
            },
            handleUpdate(row) {
                this.dialogFormVisible4Edit = true;
                this.activeName = 'first';
                axios.get("/setMeals/" + row.id).then((resp) => {
                    if (resp.data.flag) {
                        this.tableData = resp.data.data;
                    } else {
                        this.$message().error(resp.data.flag);
                    }

                    axios.get("/checkgroups/" + row.id).then((resp) => {
                        if (resp.data.flag) {
                            this.$message({type: "success", message: resp.data.message});
                            axios.get("/setMeals/findcheckGroupsByMealId?id=" + row.id).then((resp) => {
                                if (resp.data.flag) {
                                    this.checkgroupIds = resp.data.data;
                                } else {
                                    this.$message().error(resp.data.message);
                                }
                            });
                        } else {
                            this.$message().error(resp.data.message);
                        }
                    });
                });
            }
        }
    })
</script>
</html>
