<html lang="zh_TW">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="健康管理">
    <meta name="keywords" content="健康管理">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>健康管理系統</title>

    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1 class="system_manage">系統設置<small class="user_manage">用戶管理</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/main.html' }"><span class="top_pages">首頁</span></el-breadcrumb-item>
            <el-breadcrumb-item><span class="order_manage">系統配置</span></el-breadcrumb-item>
            <el-breadcrumb-item><span class="order_setting">用戶管理</span></el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-input placeholder="名稱" v-model="pagination.name" style="width: 15%;"
                          class="filter-item"></el-input>
                <el-input placeholder="性別" v-model="pagination.gender" style="width: 15%;"
                          class="filter-item"></el-input>
                <el-button @click="findPage()" class="dalfBut">查詢</el-button>
            </div>
            <el-table size="small" currrent-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column type="index" align="center" label="序號"></el-table-column>
                <el-table-column prop="name" label="姓名" align="center"></el-table-column>
                <el-table-column prop="password" label="密碼" align="center"></el-table-column>
                <el-table-column prop="gender" label="性別" align="center"></el-table-column>
                <el-table-column prop="birthday" label="出生年月日" align="center"></el-table-column>
                <el-table-column prop="roleName" label="角色" align="center"></el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button size="mini" @click="handleCheck(scope.row)">查看</el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.row)">刪除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>

            <div class="add-form">
                <el-dialog title="使用者信息" :visible.sync="dialogFormVisible">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form :model="formData" label-position="right" label-width="100px">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="姓名">
                                                <el-input v-model="formData.name" type="text"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="密碼">
                                                <el-input v-model="formData.password" type="password"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="性別">
                                                <el-radio-group v-model="formData.gender">
                                                    <el-radio label="男" value="1"></el-radio>
                                                    <el-radio label="女" value="0"></el-radio>
                                                </el-radio-group>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="出生年月日">
                                                <el-date-picker v-model="formData.birthday" type="date" value-format="yyyy-MM-dd"></el-date-picker>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">關閉</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../js/vue.js"></script>
<script src="../plugins/elementui/index.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/axios-0.18.0.js"></script>

<script>
    let vue = new Vue({
        el: '#app',
        data: {
            pagination: {
                currentPage: 1,
                pageSize: 10,
                total: 100,
                name: "",
                gender: "",
                roleName: "",
            },
            activeName: 'first',
            dataList: [],
            formData: {},
            dialogFormVisible: false
        },
        created() {
            this.findPage();
        },
        methods: {
            findPage() {
                let param = "?query";
                param += "&name=" + this.pagination.name;
                param += "&gender=" + this.pagination.gender;
                axios.get("/users/" + this.pagination.currentPage + "/" + this.pagination.pageSize + param).then((resp) => {
                    if (resp.data.flag) {
                        this.pagination.currentPage = resp.data.data.current;
                        this.pagination.pageSize = resp.data.data.size;
                        this.dataList = resp.data.data.records;
                        this.pagination.total = resp.data.data.total;
                        if (resp.data.message != null) {
                            this.$message({type: "success", message: resp.data.message});
                        }
                    } else {
                        this.$message().error(resp.data.message);
                    }
                });
            },
            handleCurrentChange(currentPage) {
                this.pagination.currentPage = currentPage;
                this.findPage();
            },
            handleCheck(row) {
                this.dialogFormVisible = true;
                axios.get("/users/" + row.id).then((resp) =>{
                    if (resp.data.flag && resp.data.data != null){
                        this.formData = resp.data.data;
                    } else {
                        this.$message.error(resp.data.message);
                    }
                }).catch(reason => {
                    this.showErrorMsg(reason);
                }).finally(() =>{
                    this.findPage();
                });
            },
            resetForm() {
                this.formData = {};
            },
            handleDelete(row) {
                this.$confirm("確認刪除該筆資料嗎? 刪除後無法復原", "提示", {type: "warning"}).then(() => {
                    axios.delete("/users/" + row.id).then((resp) => {
                        if (resp.data.flag) {
                            this.$message({
                                type: "success",
                                message: resp.data.message
                            });
                        } else {
                            this.$message.error(resp.data.message);
                        }
                    }).finally(() => {
                        this.findPage();
                    });
                }).catch(() => {
                    this.$message.info("取消操作");
                });
            },

        }
    });
</script>
</html>