<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timmy.health.mapper.CheckgroupMapper">

    <insert id="add" parameterType="checkGroup">
        <selectKey resultType="Integer" order="AFTER" keyProperty="id">
            select LAST_INSERT_ID()
        </selectKey>
        insert into t_checkgroup(code, name, helpCode, sex, remark, attention)
        values (#{code},#{name},#{helpCode},#{sex},#{remark},#{attention})
    </insert>

    <insert id="setCheckGroupAndCheckItem">
        insert into t_checkgroup_checkitem(checkgroup_id, checkitem_id)
        values (#{checkgroupId}, #{checkitemId})
    </insert>

    <update id="edit" parameterType="checkGroup">
        update
        <set>
            <if test="name != null">name = #{name}</if>
            <if test="code != null">code = #{code}</if>
            <if test="helpCode != null">helpCode = #{helpCode}</if>
            <if test="sex != null">sex = #{sex}</if>
            <if test="remark != null">remark = #{remark}</if>
            <if test="attention != null">attention = #{attention}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteCheckItemsByGroupId" parameterType="Integer">
        delete
        from t_checkgroup_checkitem
        where checkgroup_id = #{id}
    </delete>

    <select id="findCheckItemByGroupId" resultType="Integer" parameterType="Integer">
        select checkitem_id
        from t_checkgroup_checkitem
        where checkgroup_id = #{id}
    </select>
</mapper>