<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timmy.health.mapper.OrderSettingMapper">

    <insert id="add" parameterType="com.timmy.health.domain.OrderSetting">
        insert into t_ordersetting(orderDate, number, reservations)
        values (#{orderdate}, #{number}, #{reservations})
    </insert>

    <update id="editNumberByOrderDate" parameterType="com.timmy.health.domain.OrderSetting">
        update t_ordersetting
        set number = #{number}
        where orderDate = #{orderdate}
    </update>

    <select id="findCountOrderDate" parameterType="date" resultType="long">
        select count(id)
        from t_ordersetting
        where orderDate = #{orderDate}
    </select>

    <select id="getOrderDateByCurrentMonth" parameterType="map" resultType="com.timmy.health.domain.OrderSetting">
        select *
        from t_ordersetting
        where orderDate between #{firstday} and #{lastday}
    </select>

</mapper>
