<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timmy.health.mapper.OrderMapper">
    <select id="findOrderCountByDate" parameterType="string" resultType="int">
        select count(id) from t_order where orderDate = #{value}
    </select>
    <select id="findOrderCountAfterDate" parameterType="string" resultType="int">
        select count(id) from t_order where orderDate >= #{value}
    </select>
    <select id="findVisitsCountByDate" parameterType="string" resultType="int">
        select count(id) from t_order where orderDate = #{value} and orderStatus = '已到診'
    </select>
    <select id="findVisitsCountAfterDate" parameterType="string" resultType="int">
        select count(id) from t_order where orderDate >= #{value} and orderStatus = '已到診'
    </select>
    <select id="findHotSetmeal" resultType="map">
        select s.name,
               count(o.id) setmeal_count ,
               count(o.id)/(select count(id) from t_order) proportion
        from t_order o
        inner join t_setmeal s on s.id = o.setmeal_id
        group by o.setmeal_id order by setmeal_count desc limit 0,4 </select>
</mapper>