<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timmy.health.mapper.SetMealMapper">

    <resultMap id="BaseResultMap" type="com.timmy.health.domain.Setmeal">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="helpCode" column="helpCode" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="CHAR"/>
        <result property="age" column="age" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="FLOAT"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="attention" column="attention" jdbcType="VARCHAR"/>
        <result property="img" column="img" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addSetMeal">
        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
        insert into t_setmeal(name, code, helpCode, sex, age, price, remark, attention, img)
        values (#{name},#{code},#{helpCode},#{sex},#{age},#{price},#{remark},#{attention},#{img})
    </insert>

    <insert id="setSetMealAndCheckGroups" parameterType="map">
        insert into t_setmeal_checkgroup(setmeal_id, checkgroup_id) values (#{setMealId},#{checkGroupId})
    </insert>

    <select id="findCheckGroupsById" parameterType="Integer" resultType="Integer">
        select checkgroup_id from t_setmeal_checkgroup where setmeal_id = #{id}
    </select>

    <select id="findSetmealCount" resultType="map">
        select s.name, count(o.id) value from t_order o, t_setmeal s where o.setmeal_id = s.id group by s.name
    </select>

</mapper>
